events  {
    worker_connections 1024;
        }

http 
{
    server 
        {
            listen {{ nginx_listen_port }} default_server;
            listen [::]:{{ nginx_listen_port }} default_server;
            server_name  default_server;
            root  /usr/share/nginx/html;

            
            # Load configuration files for the default server block.
            include /etc/nginx/default.d/*.conf;

            error_page 404 /404.html;
            location = /404.html    {
                                    }

        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
                             }
        }
}